body {
  font-family: 'Open Sans Condensed';
  padding: 20px 60px;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 800;
}

/* This was done as sign-in component email and pass lines were not aligning with custom buttons */
* {
  box-sizing: border-box;
}
